* {
    text-decoration: none;
}

body {
    font-size: 100%;
    background: #2C2B3D;
    min-height: 100vh;
    text-decoration: none;
}
.page {
    width: 1083px;
    align-items: center;
    margin: 0px auto;
    padding-top: 71px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    color: #FFFFFF;
    font-family: 'JetBrains Mono';
    font-weight: 500;
    font-size: 14px;
    gap: 64px;
}

nav a {
    color: #FFFFFF;  
}
nav a:hover {
    color: #00BFA6;    
}

main {
    display: flex;
    justify-content: space-between;
    padding-top: 101px;
}

.title {
    font-family: 'JetBrains Mono';
    color: #FFFFFF;
    font-weight: 700;
    text-align: center;   
}

.title span {
    color: #00BFA6;
}

.text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #C2C2C2;
    padding-top: 59px;
    text-align: center;  
}

.text span {
    color: #00BFA6;
    font-weight: 700;    
}

footer {
    display: flex;
    justify-content: center;
    font-family: 'JetBrains Mono';
    margin-top: 157px;
    text-decoration: none;
    color: #FFFFFF;
}

footer p {
    padding: 27px 106px;
    border-top: 1px solid #00BFA6;
}

footer a {
    color: #FFFFFF;  
}

footer a:hover {
    color: #00BFA6;
    font-weight: bold;
}

.locker {

    position: fixed;
    bottom: 0;
    left: 20px;
}